@import url(base.css);
header{
    color: #4ebbfe;
    height: 0.36rem;
    line-height: 0.36rem;
    text-align: center ;
    font-size: 0.38rem;
    margin-top: 0.32rem;
    box-shadow: 0rem 0.03rem 0.43rem 0rem
    rgba(41, 167, 255, 0.13);
}
header a{
    color: #4ebbfe;
}
header  .iconfont{
    float: left;
}
.img{
    width: 3rem;
    height: 3.6rem;
    margin: 1.7rem 2.24rem 1.6rem;
}
.details